html,
body {
    height: 100%;
    /* This should be set to allow the body to be a flex container */
    margin: 0;
    /* Reset default margin */
}

body {
    display: flex;
    flex-direction: column;
}

/* Remove default link styles */
a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    background-color: #F9FAFC;
    text-decoration: none;
}

/* Customize the font */
.brand {
    font-family: Lato, sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    color: #4A4A4F;
}

.red-o {
    color: #D13120;
}

.comment-form textarea {
    width: 50%;
    height: 15%;
}

/* Set light and dark background colors */
.light-bg {
    background-color: #fff;
}

.dark-bg {
    background-color: #445261;
    color: #fff;
    /* Set text color for dark background */
}

/* Background color for the main section */
.main-bg {
    background-color: #F9FAFC;
    flex-grow: 1;
}


.card {
    border: none;
    background-color: transparent;
}

.post-card {
    background-color: white;
    margin-top: 3%;
    padding: 3%;
}

.image-container {
    position: relative;
}

.image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: -2px;
    background-color: #23BBBB;
}

.author {
    color: white;
    margin: 4px;
    text-transform: uppercase;
}

.masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 33vh;
    width: 100%;
}

.masthead-text {
    background-color: #445261;
    color: white;
    position: relative;
}

.masthead-image {
    position: relative;
    overflow: hidden;
}

.masthead-image:after {
    content: "";
    position: absolute;
    top: 0;
    right: 90%;
    height: 100%;
    width: 150%;
    background: #445261;
    -webkit-transform: skew(15deg);
    -moz-transform: skew(15deg);
    transform: skew(15deg);
    z-index: 100;
}

/* Style the post link and page link */
.post-link,
.page-link {
    color: #445261;
    text-decoration: none;
}


.post-title {
    margin-top: 5%;
}

.post-subtitle {
    margin-left: 5%;
    color: lightgray;
}

/* Style the signup button */
.btn-signup {
    background-color: white;
    color: #339966;
    border: 1px dotted #339966;
    font-weight: 500;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #339966;
    color: white;
}

.btn-signout {
    background-color: #D7DBDD;
}

.btn-signout:hover,
.btn-signup:active {
    font-weight: 500;
    color: #CC3300;
    border: 1px dotted #CC3300;
}

.link {
    color: #339966;
    ;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #445261;
    text-decoration: none;
}

.upvote-btn {
    color: #B8B8B8;
    border-style: none;
}

.downvote-btn {
    color: #B8B8B8;
    border-style: none;
}

/* Upvote button */
.upvote-btn.active {
    color: green;
    border-color: #F9FAFC;
}

/* Downvote button */
.downvote-btn.active {
    color: red;
    border-color: none;
}

.comment-button {
    border: 3px solid #6495ED;
    background-color: #91B2EC;
    color: white;
    font-weight: 500;
}

.btn-outlined {
    border: 2px solid rgba(0, 0, 0, 0.428);
    border-radius: 25px;
}

.profilepic {
    border-radius: 15%;
    max-width: 65%;
    max-height: 65%;
}

.footer {
    background-color: #F2F4F4;
    width: 100%;

}

/* Subreddits list toggle */
.subreddits-toggle {
    display: none;
}


@media (max-width: 767.98px) {
    .subreddits-desktop {
        display: none;
    }

    .subreddits-mobile {
        display: block;
    }
}

@media (min-width: 768px) {
    .subreddits-desktop {
        display: block;
    }

    .subreddits-mobile {
        display: none;
    }
}