{% extends "base.html" %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-8">
                    <div class="post-list">
                        {% for post in post_list %}
                        <a href="{% url 'post_detail' post.id %}">
                            <div class="post-card">
                                <h6 class="subreddit-id">{{ post.subreddit }}</h6>
                                <div class="post-header">
                                    {% if post.image %}
                                        <img src="{{ post.image.url }}" class="card-img-top" alt="Post Image">
                                    {% endif %}
                                    <div class="card-body">
                                        <h5 class="card-title">{{ post.title }}</h5>
                                        <p>{{ post.content|safe }}</p>
                                        <div class="votes_count">
                                            <span class="number-of-votes">{{ post.total_votes }}</span>
                                            <span class="votes-label">votes</span>
                                        </div>
                                    </div>
                                    <div class="text-muted">
                                        Posted on {{ post.created_on }} by {{ post.author }}
                                    </div>
                                </div>
                            </div>
                        </a>
                        {% endfor %}
                    </div>
                </div>
                <div class="subreddits-list col-md-4">
                    <h5>Subreddits</h5>
                    <ul class="list-group-subreddits">
                      {% for subreddit in subreddits %}
                        <li class="list-group-item"><a href="{% url 'subreddit' subreddit.slug %}">{{ subreddit.name }}</a>
                      {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
