{% extends "base.html" %}
{% load static %}


{% block content %}

<div class="container-fluid flex-grow-1">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-8">
                        <div class="post-list">
                            {% for post in post_list %}
                            <a href="{% url 'post_detail' post.id %}">
                                <div class="post-card">
                                    <h6 class="subreddit-id">{{ post.subreddit }}</h6>
                                    <div class="row">
                                        <div class="col-auto">
                                            <div class="row votes my-5">
                                                {% if user.is_authenticated %}
                                                <form method="POST">
                                                    {% csrf_token %}
                                                    <div class="col text-center">
                                                        <button type="submit" name="upvote"
                                                            class="upvote-btn {% if user in post.upvotes.all %}active{% endif %}">
                                                            <i class="fa-solid fa-arrow-up fa-xl"></i>
                                                        </button>
                                                    </div>
                                                    <div class="col text-center my-1">
                                                        <span class="number-of-votes">{{ post.total_votes }}</span>
                                                    </div>
                                                    <div class="col text-center">
                                                        <button type="submit" name="downvote"
                                                            class="downvote-btn {% if user in post.downvotes.all %}active{% endif %}">
                                                            <i class="fa-solid fa-arrow-down fa-xl"></i>
                                                        </button>
                                                    </div>
                                                </form>
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="col-12 col-sm-6 col-md-8">
                                            {% if post.author == request.user %}
                                            <form method="POST" action="{% url 'delete_post' post.slug %}">
                                                {% csrf_token %}
                                                <button type="submit">Delete Post</button>
                                            </form>
                                            {% endif %}
                                            <div class="post-header">
                                                {% if post.image %}
                                                <img src="{{ post.image.url }}" class="card-img-top" alt="Post Image">
                                                {% endif %}
                                                <div class="card-body">
                                                    <h5 class="card-title">{{ post.title }}</h5>
                                                    <p>{{ post.content|safe }}</p>
                                                </div>
                                                <div class="text-muted">
                                                    Posted on {{ post.created_on }} by {{ post.author }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="subreddits-list col-md-4">
                        <h5>Subreddits</h5>
                        <ul class="list-group-subreddits">
                            {% for subreddit in subreddits %}
                            <li class="list-group-item">
                                <a href="{% url 'subreddit' subreddit.slug %}">{{ subreddit.name }}</a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}