{% extends 'base.html' %} 

{% block content %}

{% load crispy_forms_tags %}

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="post-detail">
                <div class="post-header">
                    <div class="col post-votes">
                        <div class="votes col">
                            <a href="#" class="row"><i class="fa-regular fa-up"></i></a>
                            <a href="#" class="row"><i class="fa-regular fa-down"></i></a>
                        </div>
                        <div class="votes_count">
                            <span class="number-of-votes">{{ post.total_votes }}</span>
                            <span class="votes-label">votes</span>
                        </div>
                    </div>
                    <div class="post-details">
                        <h1 class="post-title">{{ post.title }}</h1>
                        <p class="post-author">{{ post.author }} | {{ post.created_on }}</p>
                    </div>
                </div>
                <div class="">
                    <p>{{ post.content }}</p>
                </div>
                <div class="post-actions">
                    <span class="comment-count">{{ post.comments.count }} comments</span>
                </div>
            </div>
            
            <div class="comments-section">
                <h3>Comments:</h3>
                {% for comment in comments %}
                <div class="comment-card">
                    <div class="comment-header">
                        <p class="comment-author">{{ comment.author }} | {{ comment.created_on }}</p>
                    </div>
                    <div class="comment-content">
                        <p>{{ comment.body }}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock %}

