{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    <div class="row">
        <!-- Post Detail Column -->
        <div class="col-md-8">
            <div class="post-open">
                <div class="post-card">
                    <!-- Top section with subreddit name and edit/delete options -->
                    <div class="row">
                        <div class="col">
                            <h6 class="subreddit-id">{{ post.subreddit }}</h6>
                        </div>
                        {% if post.author == request.user %}
                        <button class="btn" id="editPostButton" onclick="toggleEditForm()"><i
                                class="fa-solid fa-pen-to-square"></i></button>
                        <div id="editForm" style="display: none;">
                            <form method="POST" action="{% url 'edit_post' pk=post.pk %}">
                                {% csrf_token %}
                                {{ edit_form|crispy }}
                                <button class="btn btn-secondary" type="submit">Save Changes</button>
                            </form>
                        </div>
                        <div class="col d-flex justify-content-end">
                            <form method="POST" action="{% url 'delete_post' post.slug %}">
                                {% csrf_token %}
                                <button class="btn" type="submit">Delete</button>
                            </form>
                        </div>
                        {% endif %}
                    </div>
                    <!-- Upvote and downvote buttons section -->
                    <div class="row">
                        <div class="col-auto">
                            <div class="votes">
                                {% if user.is_authenticated %}
                                <form method="POST">
                                    {% csrf_token %}
                                    <button type="submit" name="upvote"
                                        class="btn upvote-btn {% if user in post.upvotes.all %}active{% endif %}">
                                        <i class="fa-solid fa-arrow-up"></i>
                                    </button>
                                    <span class="number-of-votes">{{ post.total_votes }}</span>
                                    <button type="submit" name="downvote"
                                        class="btn downvote-btn {% if user in post.downvotes.all %}active{% endif %}">
                                        <i class="fa-solid fa-arrow-down"></i>
                                    </button>
                                </form>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="post-header">
                                {% if post.image %}
                                <img src="{{ post.image.url }}" class="card-img-top" alt="Post Image">
                                {% endif %}
                                <div class="card-body">
                                    <h6 class="card-title">{{ post.title }}</h6>
                                    <p>{{ post.content|safe }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Bottom of the card with date/time and comments count -->
                    <div class="row">
                        <div class="col-auto">
                            <p class="text-muted">
                                Posted on {{ post.created_on }} by {{ post.author }}
                            </p>
                        </div>
                        <div class="col-auto text-dark d-flex justify-content-end">
                            <span class="comment-count">
                                <i class="fa-regular fa-comment"></i>
                                {{ post.comments.count}}
                            </span>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Comment Form -->
            <div class="container pt-3">
                <div class="comment-form-section">
                    <h5>Add a Comment:</h5>
                    <form method="POST" class="comment-form">
                        {% csrf_token %}
                        {{ comment_form|crispy }}
                        <button class="btn btn-secondary" type="submit">Comment</button>
                    </form>
                </div>
            </div>

            <!-- Comments Section -->
            <div class="container-fluid pt-3 comments-section">
                <h4>Comments:</h4>
                {% for comment in comments %}
                <div class="comment-card">
                    <div class="comment-header">
                        <div class="col d-flex justify-content-end">
                            <p>Comment User: {{ comment.user }}</p>
                            <p>Request User: {{ request.user }}</p>
                            {% if comment.user == request.user %}
                            <button class="btn" id="editCommentButton-{{ comment.pk }}"
                                onclick="toggleForm('editCommentButton-{{ comment.pk }}', 'editCommentForm-{{ comment.pk }}')">
                                <i class="fa-solid fa-pen-to-square"></i>
                            </button>
                            <div id="editCommentForm-{{ comment.pk }}" style="display: none;">
                                <form method="POST" action="{% url 'edit_comment' pk=comment.pk %}">
                                    {% csrf_token %}
                                    {{ comment_form|crispy }}
                                    <button class="btn btn-secondary" type="submit">Save Changes</button>
                                </form>
                            </div>
                            {% endif %}
                        </div>
                        <p class="comment-author">{{ comment.author }} | {{ comment.created_on }}</p>
                    </div>
                    <div class="comment-content">
                        <p>{{ comment.body }}</p>
                    </div>
                </div>
                {% endfor %}
            </div>

            <!-- Subreddits Column -->
            <div class="col-md-4 mt-4">
                <div class="subreddits-list">
                    <ul class="list-group-subreddits">
                        {% for subreddit in subreddits %}
                        <li class="list-group-item">
                            <a href="{% url 'subreddit' subreddit.slug %}">{{ subreddit.name }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <script>
        const commentForm = document.querySelector('.comment-form');
        commentForm.addEventListener('submit', (event) => {
            event.preventDefault();
            alert('Your comment is awaiting approval');
            commentForm.submit();
        });

        function toggleEditForm() {
            console.log("Toggle function called");
            var form = document.getElementById("editForm");
            if (form.style.display === "none") {
                form.style.display = "inline";
            } else {
                form.style.display = "none";
            }
        }
    </script>

    {% endblock %}