{% extends 'base.html' %}
{% load static %}

{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h2>{{ profile.user }}</h2>
            <img class="img-thumbnail" src="{{ request.user.profile.profile_picture.url }}" />
            <p>{{ request.user.profile.bio }}</p>
            <!-- Edit Profile button -->
            <button id="editProfile" class="btn" onclick="toggleForm('editProfile', 'profileForm')">Edit</button>
            <div id="profileForm" style="display: none;">
                <div class="content-section">
                    <form method="POST" action="{% url 'profile' %}" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <button type="submit" class="btn btn-secondary">Update</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <h2>Activity</h2>
            <ul>
                {% for activity in activities %}
                <li>{{ activity.timestamp }} - {{ activity.get_action_type_display }}</li>
                {% empty %}
                <li>No activities yet.</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}