{% extends "base.html" %}

{% block content %}

{% load crispy_forms_tags %}

<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h2>Welcome to {{ subreddit.name }}</h2>
      <div class="post-list">
        {% for post in posts %}
        <div class="post-card">
          <a href="{% url 'post_detail' post.id %}">
            <h6 class="subreddit-id">{{ post.subreddit }}</h6>
            <div class="post-header">
              {% if post.image %}
              <img src="{{ post.image.url }}" class="card-img-top" alt="Post Image">
              {% endif %}
              <div class="card-body">
                <h5 class="card-title">{{ post.title }}</h5>
                <p>{{ post.content|safe }}</p>
                <div class="votes_count">
                  <span class="number-of-votes">{{ post.total_votes }}</span>
                  <span class="votes-label">votes</span>
                </div>
              </div>
              <div class="text-muted">
                Posted on {{ post.created_on }} by {{ post.author }}
              </div>
            </div>
          </a>
        </div>
        {% endfor %}
      </div>
      <div class="content-section">
        <form method="POST">
          {% csrf_token %}
          <fieldset class="form-group">
            <legend class="border-bottom mb-4">Add a Post:</legend>
            {{ form|crispy }}
          </fieldset>
          <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Post</button>
          </div>
        </form>
      </div>
    </div>
    <div class="col-md-4">
      <h5>Subreddits</h5>
      <ul class="list-group-subreddits">
        {% for subreddit in subreddits %}
        <li class="list-group-item">
          <a href="{% url 'subreddit' subreddit.slug %}">{{ subreddit.name }}</a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>

{% endblock %}
